@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(155, 221, 228);
  font-family: 'Roboto',sans-serif;
}

.game-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-box {
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 10px;

}

.score-area{
    height: 20%;
    width: 100%;
    background-color: rgb(54, 181, 227);
    border-radius: 10px 10px 0 0 ;
    margin-bottom: 5px;
}

.score-area{
    display: flex;
    align-items: center;
    justify-content: space-around
}

.score-area span{
    background-color: white;
    text-align: center;
    padding: 6px;
    height: 20px;
    width: 30px;
    border-radius: 2px;
    color: gray;
}

.game-ele{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.game-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.game-area .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.game-area .bubble{
    background-color: rgb(127, 240, 255);
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.game-area .bubble:hover{
    background-color: rgb(17, 115, 140);
    transition: ease 0.4s;
}

@media (max-width: 400px) {
    .game-ele{
        flex-direction: column;
    }

    .game-box{
        overflow: hidden;
    }
    
    .game-area .bubble{
        width: 20px;
        height: 20px;

    }
  }